
.normal {
  height: 100%;
  overflow: hidden;
  background: url("../../../assets/login/backgroud.png") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card {
  height: 50%;
  min-height: 350px;
  width: 45%;
  max-width: 1300px;
  background-color: white;
  margin: 10% auto;
  margin-bottom: 0px;
}

.inbetweening {
  padding-top: 5%;
  padding-left: 5%;
  width: 50%;
  display: inline-block;
}

.loginCard {
  width: 50%;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  display: inline-block;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
