
.fileCard {
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 8px;
}

.content {
  position: relative;
  padding: 12px 12px 12px 54px;
  background-color: #FFFFFF;
  border: 1px solid #e8e8e8;
  height: 71px;
  display: flex;
  flex-direction: column;
}

.icon {
  position: absolute;
  left: 17px;
  top: 24px;
  font-size: 20px;
  color: #1890ff;
  overflow: hidden;
}

.title {
  color: black;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title:hover {
  color: black;
}

.info {}
