
.normal {
  font-family: Georgia, sans-serif;
  /*text-align: center;*/
  background-color: #FAFAFA;
  min-height: calc(100vh - 64px);
}

.content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 16px;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
  background: darkslateblue;
  padding: .6em 0;
  color: white;
  margin: 0;
}
